* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(79, 81, 83, 0.525);
}

.container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px; 
}

.card {
    border-radius: 40px;
    background-color: rgba(44, 78, 44, 0.557);
    padding: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 200px; 
    text-align: center; 
    overflow: hidden; 
}

.card img {
    width: 100%; 
    height: auto; 
    border-radius: 20px; 
}
